/* Variables */
:root {
	--primary-blue: #2196f3;
	--dark-blue: #1976d2;
	--light-blue: #bbdefb;
	--white: #ffffff;
	--primary-text: #212121;
	--secondary-text: #757575;
	--light-gray: #bdbdbd;
}

/* Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif;
    color: var(--primary-blue);
}

.flex{
    display: flex;
}

.flex-center{
    justify-content: center;    /*Horizontal alignment*/
    align-items: center;    /*Vertical alignment*/
}

.flex-column{
    display: flex;
    flex-direction: column; /*Horizontal by default*/
}

.flex-grow-1{
    flex-grow: 1; /*grow till as much as possible; take up entire space*/
}

.hidden{            /*Stuff that we want to eventually hide*/
    display: none;
}


/* Text Classes */
.primary-text {
	color: var(--primary-text);
}

.secondary-text {
	color: var(--secondary-text);
}

.light-text {
	color: var(--light-blue);
}

.text-center {
	text-align: center;
}

h1 {
	font-size: 48px;
	font-weight: 300;
}
